.message {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
  color: black;
}

.timeform {
  float: left;
  width: 100%;

  i {
    margin-left: 10px;
  }

  .timestamp{
    font-size: 0.4em;
  }
}

.avatar{
  width: 25px;
  margin-right: 10px;
}
